<nav class="navbar navbar-dark fixed-bottom bg-dark">
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link" style="font-size: 2em;" href="" target="_blank">
          <i class="fa fa-angle-double-left"></i>
        </a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" style="font-size: 1.5em;" href="" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="nav-item nav-link" style="font-size: 1.5em;" href="" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </nav>