<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/products"><h3>Kucchu</h3></a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">
        <i class="fa fa-home-lg"></i>
      </a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link"  style="font-size: 1.5em;" href="#">
        <i class="fa fa-shopping-cart"></i>
      </a>
    </div>
  </div>
</nav>